---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <br>
    <h1 class="page-heading">{{ page.title }}</h1>
    <br>
    <h4>Our podcast is on <a href="https://itunes.apple.com/us/podcast/the-syntact-project/id1375668144">iTunes</a> and almost every popular podcast player!</h4>
    <br>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {% assign podcasts = site.posts | where: "podcast", true %}
      {%- for pod in podcasts -%}
      <li style="border-top: 1px solid #CCCCCC;">
        <br>
        <center>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ pod.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ pod.url | relative_url }}">{{ pod.title | escape }}</a>
          <em>{{ pod.authors | array_to_sentence_string }}</em>
          </center>
        </h3>
        <span class="post-excerpt">{{ pod.excerpt }}</span>
        <a href="{{ pod.url | relative_url }}">Read more</a>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
